# API 서버 기본 URL (필수)
NEXT_PUBLIC_API_BASE_URL=http://localhost:33333

# OAuth 로그인 경로 (필수)
NEXT_PUBLIC_GOOGLE_LOGIN_PATH=/oauth2/authorization/google
NEXT_PUBLIC_KAKAO_LOGIN_PATH=/oauth2/authorization/kakao
